html, body {
  width: 100%;
  height: 100%;
}

/* INVERT WHOLE PAGE ON CLICK */

body:active {
  filter: invert(100%);
}

/* INVERT SCROLL */

.one {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#d1 {
  background-color: black;
  position: fixed;
}

#d2 {
  background: linear-gradient(white 50%, black 50%);
  position: fixed;
}

#d3 {
  mix-blend-mode: difference;
  overflow-y: scroll;
  position: relative;
}
